div.wishlistlist {
    position: absolute;
    right: 0;
    z-index: 2;
    width: 20vh;
    background-color: burlywood;

    .line {
    display: flex;
    flex-direction: row;
    margin: 5px;

    .cancle {
        margin-right: 10px;
        color: red;
        cursor: pointer;
    }
}}